.card_container{
    height: fit-content;
}
.elevation {
    width: 96vw;
    height: fit-content;
    margin-block: 2%;
    padding: 2%;
    /* overflow: auto; */
    border-radius: 20px;
    background: #f5f5f5;
    box-shadow: 35px 35px 70px #d8d8d8,
        -35px -35px 70px #ffffff;
    /* Customize the shadow as needed */
}

.form_group_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 1 1 0;
}

.form_flex_container {
    /* background-color: violet; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
    height: fit-content;
}

.elevation .form-label {
    width: 100%;
}

#formPlaintextEmail {
    width: 50%;
}

.form_range_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex: 1 1 0;
    width: 0;
}

#inputPassword5 {
    width: 400px;
    height: fit-content;
}

